<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <title>Парсер от Барсика</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <style>
        .myCheck::before{
            border-color: #6b300b !important;
            background: #6b300b!important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header class="app-bar bg-darkMagenta fg-white app-bar-expand row" data-role="appbar" data-expand-point="md"
            id="app-bar-1558398757257504" data-role-appbar="true">
        <div class="cell">
            <a href="index.php" class="brand fg-white no-hover">Парсер от Барсика</a>
        </div>
        <div class="cell offset-8 text-right">
            <img src="badger.png" height="50px" alt="">
        </div>
    </header>
    <div class="row">
        <div class="cell">
            <form class="mt-20" action="#" method="post" data-role="validator">
                <div class="form-group">
                    <input type="text" data-role="input" data-search-button="true" name="search" value="{$query}"
                           placeholder="Поиск объявлений">
                </div>
                <label class="radio style2 transition-on">
                    <input name="r11" value="all" type="radio" data-role="radio" data-style="2" data-caption="radio" data-cls-caption="fg-cyan text-bold" data-cls-check="bd-cyan myCheck" class="" data-role-radio="true">
                    <span class="check bd-cyan myCheck"></span><span class="caption fg-cyan text-bold">все</span>
                </label>
                <label class="radio style2 transition-on">
                    <input name="r11" value="new" type="radio" data-role="radio" data-style="2" data-caption="radio" data-cls-caption="fg-cyan text-bold" data-cls-check="bd-cyan myCheck" class="" data-role-radio="true">
                    <span class="check bd-cyan myCheck"></span><span class="caption fg-cyan text-bold">новые</span>
                </label>
                <div class="form-group">
                    <div data-role="panel"
                         data-title-caption="Критерии"
                         data-collapsible="true"
                         data-cls-title="bg-darkMagenta fg-white"
                    >
                        <div class="form-group">
                            <select data-role="select" name="category" data-prepend="Категория">
                                {if isset($categories)}
                                <option selected>Все объявления</option>
                                {foreach name=categories key=key item=category from=$categories}
                                <optgroup label="{$key}">
                                    {foreach name=subcategories item=subcategory from=$category}
                                    {if isset($scId) && $scId == {$subcategory.scId} && isset($cId) && $cId ==
                                    {$subcategory.cId}}
                                    <option value="{$subcategory.cId}&{$subcategory.scId}" selected="selected">
                                        {$subcategory.name}
                                    </option>
                                    {else}
                                    <option value="{$subcategory.cId}&{$subcategory.scId}">{$subcategory.name}</option>
                                    {/if}
                                    {/foreach}
                                </optgroup>
                                {/foreach}
                                {/if}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" value="{$cityNAME}" data-role="input" data-prepend="Город" data-validate="required pattern=(^[А-Яа-я\-]+$)">
                            <span class="invalid_feedback">
                                Некорректное название города!
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-10">
        <div class="cell">
            <div data-role="panel"
                 data-title-caption="Результаты поиска"
                 data-collapsible="true"
                 data-cls-title="bg-darkMagenta fg-white"
            >
                <table class="table mt-5"
                       data-role="table"
                       data-rows-steps="5, 10"
                       data-table-search-title="Поиск по показанным результатам"
                       data-table-rows-count-title="Показать по"
                       data-show-search="false"
                       data-show-rows-steps="false"
                       data-pagination-next-title = "вперёд"
                       data-pagination-prev-title = "назад"
                       data-activity-style = "blue"
                       data-table-info-title="Показано с $1 по $2 из $3 записей"
                >
                    <thead>
                    <tr>
                        <th>Информация</th>
                        <th>Объявление</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if isset($table)}
                        {foreach name=outer item=obj from=$table}
                                <tr>
                                    <td>
                                        <b>Название:</b> {$obj.title} <br/>
                                        <b>Местоположение:</b> {$cityNAME} <br/>
                                        <b>Цена ₽<span class="mif-money"></span>:</b> {$obj.price} <br/>
                                        <b>Дата размещения:</b> {$obj.date} <br/>

                                        <a href="user.php?infoUser={$obj.url}" target="_blank"><button class="button info"><span class="mif-user"></span> Информация о пользователе</button></a> <br/>
                                        <a href="https://youla.ru{$obj.url}" target="_blank"><button class="button warning"><span class="mif-link"></span> Перейти к объявлению</button></a>
                                    </td>
                                    <td class="img-container thumbnail">
                                        <div>
                                            <img data-src="holder.js/10px10" src="{$obj.image}">
                                        </div>
                                    </td>
                                </tr>
                        {/foreach}
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>